.products-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.add__btn {
    background: #ffb74d;
    color: #000;
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

.add__btn:hover {
    opacity: 0.8;
}


/* 検索・並び替え・カード一覧エリア */
.products-layout {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin-top: 20px;
}

.search-form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.search-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    font-size: small;
}

.search-btn {
    background: #ffd700;
    width: 100%;
    color: #000;
    padding: 3px 0;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
}

.sort-title {
    font-weight: bold;
    font-size: 15px;
    padding: 20px 0 10px;
}

.sort-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    font-size: 12px;
}

.sort-result {
    width: 80%;
    margin-top: 10px;
    padding: 8px 12px;
    background: #fff;
    border: 2px solid #ffd700;
    border-radius: 20px;
    color: #444;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-reset {
    font-size: 14px;
    font-weight: bold;
    color: #ffd700;
    text-decoration: none;
    padding: 0 5px;
    cursor: pointer;
}

.sort-reset:hover {
    color: #333;
}

/* 商品カード */
.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 1000px;
    margin: 0;
}

/*カード１つ*/
.product-card {
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 6px;
    padding-bottom: 10px;
}

.product-card:hover {
    transform: translateY(-4px);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.product-info p.name {
    font-size: 16px;
}

.product-info p.price {
    font-size: 16px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination svg {
    width: 20px !important;
    height: 20px !important;
}

.pagination nav {
    display: inline-block;
}

